extends ../layout/index
block content
  div.py-10
    h1.text-center.text-4xl.font-extrabold.my-10.text-coolGray Usuario 
      span.fond-normal.text-white Creado
    h2.text-center.text-3xl.font-extrabold= page