extends ../layout/index 

block content
    div.py-10
        h1.text-center.text-4xl.font-extrabold.my-10.text-black.text-center Real
            span.font-normal.text-darkCian.text-center State
        h2.text-center.text-3xl.font-extrabold= page
            
        .mt-8.mx-auto.max-w-xl 
            .bg-rosyBrown.py-8.px-4.shadow-x1.rounded-lg
                form(action="/login/recovery" method="POST").space-y-5
                    div 
                        label.block.text-sm.uppercase.text-gray-700.mb-3.font-bold(for="email") Email:
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-xl.placeholder-indigo-200(class="ease-in-out focus:outline-none focus:border-2 focus:border-darkCian" placeholder="user@domain.com" name="email" type="email")
                    div
                        input#button_register.w-full(style="background-color: emerald;" class="text-white font-bold py-3 rounded-xl hover:bg-darkCian cursor-pointer", type="submit", value="Send me an Email")

                    div.flex.items-center.justify-between
                        a.text-xs.text-gray-500(href="/login/register" class="hover:underline decoration-4 decoration-coolGray") New User? , Create an account
                        a.text-xs.text-gray-500(href="/login" class="hover:underline decoration-4 decoration-coolGray") If you have an account, please Login